* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
  padding-bottom: 30px;
  max-width: 600px;

}

.btn {
  display: inline-block;
  padding: 5px 20px;
  cursor: pointer;
}
